/* General */
body{
    overflow: hidden;
    margin: 0 auto;
    background-color: #EEEEEE;
    font-family:  "Myriad Pro", "Gill Sans",  "Archivo Narrow", "PT Sans Narrow","Arial Narrow","Calibri", "Arial","sans-serif";
}
svg{
    user-select: none;
    width: 100%;
    height: 100%;



    text-align: left;

}
#exp_div{
    text-align: center;
    background-color: #EEEEEE;

}
#SVG_container{
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
}
#top_frame{
    display: inherit;
}
#top_frame * {
    fill: #EEEEEE;
}
/* INSTRUCTIONS */
#instruction_cursor_travel {animation: instruction_cursor_travel_move 5s linear infinite;}
#instruction_cursor_travel .cursor_fill{ animation: instruction_cursor_travel_color 5s linear infinite}
#instruction_player_icon {animation: instruction_player_icon 5s linear infinite;}
.instructions_arrow { animation: highlighted_arrow 3s ease-in-out infinite alternate-reverse;}
.instructions_arrow rect { animation: highlighted_arrow 3s ease-in-out infinite alternate-reverse;}
#instruction_cursor_search {animation: instructions_search_cursor_move 10s linear infinite;}
#instruction_cursor_search .cursor_fill{ animation: instructions_cursor_search_color  10s linear infinite}
#instruction_flashlight_light {animation: instructions_search_light 10s linear infinite; transform-origin: center}
#instructions_Fennimal_icon {animation: instructions_search_outline 10s linear infinite; transform-origin: center}

@keyframes instruction_cursor_travel_move {
    5% {transform: translate(-2%, 2%);}
    45% {transform: translate(-2%, 2%);}
    55% {transform: translate(-2%, 19%);}
    99% {transform: translate(-2%, 19%);}
}
@keyframes instruction_cursor_travel_color {
    0% {fill: white}
    9% {fill: white}
    10% {fill: red}
    42% {fill: red}
    43% {fill:white}
    55% {fill:white}
    58% {fill: red}
    94% {fill: red}
    95% {fill:white}
    99% {fill: white}
}
@keyframes instruction_player_icon {
    10% {transform: translate(0%, 4%);}
    42% {transform: translate(0%, -13%);}
    57% {transform: translate(0%, -13%);}
    95% {transform: translate(0%, 4%);}

}
@keyframes instructions_search_cursor_move {
    5% {transform: translate(-3%, -5%);}
    15% {transform: translate(-3%, -5%);}
    25% {transform: translate(-5%, -10%);}
    45% {transform: translate(0%, -15%);}
    50% {transform: translate(0%, -15%);}
    60% {transform: translate(-1%, -20%);}
    70% {transform: translate(-3%, -18%);}
    90% {transform: translate(-3%, -18%);}
    99% {transform: translate(-3%, -18%);}
}
@keyframes instructions_cursor_search_color {
    0% {fill: white}
    14% {fill: white}
    15% {fill: red}
    94% { fill: red}
    95% {fill:white}
}
@keyframes instructions_search_light {
    0% {opacity: 0; display: none}
    5% {transform: translate(0%, 0%); }
    14% {display: inherit}
    15% {opacity: 0}
    16% {opacity: 1}
    25% {transform: translate(-2%, -5%); }
    45% {transform: translate(2.5%, -10%); }
    50% {transform: translate(2.5%, -10%);}
    60% {transform: translate(1%, -17%);}
    70% {transform: translate(0%, -13%);}
    90% {transform: translate(0%, -13%);}
    95% {opacity: 1}
    96% {opacity: 0; display: none}
    99% {transform: translate(0%, -13%);}
}
@keyframes instructions_search_outline {
    0% {opacity: 0; display: none}
    70% {opacity: 0; display: inherit}
    75% {opacity: 1}
    95% {opacity: 1}
    99% {opacity: 0; display: none}

}

.instruction_page {
    display: none
}
.instructions_button * {
    transition: all 200ms ease-out;
    cursor: pointer
}
.instructions_button rect {
    animation: highlighted_arrow 2s ease-in-out infinite alternate-reverse;
}
.instructions_button tspan{
    fill: darkblue;
}
.instructions_button text{
    fill: darkblue;
    font-weight: bold;
}
.instructions_button g {
    margin: 0 auto;
    text-align: center;
}
.instructions_button:hover rect{
    fill: black;
    stroke-width: 0px;
}
.instructions_button:hover tspan{
    fill: white
}
.instructions_button:hover text{
    fill: white
}

.instructions_exploration_target_box {
    display: none;
}
.instructions_exploration_target_box * {
    transition: all 1s ease-in-out;
}
.instructions_exploration_target_box rect {
    fill: whitesmoke;
}
.instructions_exploration_target_box text {
    fill: gray;
}
.instructions_exploration_target_box path {
    opacity: 0;
}

/* Seach and delivery */
.Fennimal_Search_Target {
    display: none
}

/* Map */
.shimmered_object {
    animation: highlighted_arrow 2s ease-in-out infinite alternate-reverse;
}
.shimmered_outline {
    animation: shimmered_outline 2s ease-in-out infinite alternate-reverse;
}
@keyframes highlighted_arrow {
    from {fill:  #ffa600; stroke: #58508d; }
    to { fill: #58508d; stroke: #ffa600; }
}
@keyframes shimmered_outline {
    from {stroke: #58508d; }
    to {  stroke: #ffa600; }
}
@keyframes location_text_highlight {
    from {stroke: #58508d; opacity: .8 }
    to {  stroke: #ffa600; opacity: 1 }
}

/* Locations and arrows within locations */
.location {
    transform-origin: center;
}
.icon_path {
    display: none
}
.location_mask {
    cursor:pointer;
}
.map_region {
    display: none
}
.location_arrow {
    animation: highlighted_arrow 3s ease-in-out infinite alternate-reverse;
    opacity: 0.9;
    display: none;
    cursor: pointer;
    stroke-width: 3px;
}
.location_display_name {
    animation: location_text_highlight 2s ease-in-out infinite alternate-reverse;
    stroke-width: .12px;
    display: none
}
#home_button {
    cursor:pointer;
}
#home_button rect {
    animation: highlighted_arrow 2s ease-in-out infinite alternate-reverse;
}
#home_button text tspan {
    animation: black_and_white_text 2s ease-in-out infinite alternate-reverse;

}
@keyframes black_and_white_text {
    from {fill: black}
    to { fill:white}
}
.return_arrow rect {
    animation: highlighted_arrow 3s ease-in-out infinite alternate-reverse;
    cursor: pointer;
}
.return_arrow path {
    animation: highlighted_arrow 3s ease-in-out infinite alternate-reverse;
    animation-delay: 1500ms;
    cursor: pointer;
}
#return_to_home_button {
    display: none;
    cursor: pointer ;
    opacity: 1;
}
#HUD_locator_box {

}
foreignObject {
    pointer-events: none;
}
.HUD_flash  {
    animation: HUD_exploration_flash_animation 1000ms ease-in-out;
}
.HUD_flash * {
    animation: HUD_exploration_flash_animation 1000ms ease-in-out;
}
@keyframes HUD_exploration_flash_animation {
    0% {fill: rgb(85, 68, 0)}
    50% {fill: white}
    100% {fill: rgb(85, 68, 0)}
}

/* FENNIMAL ELEMENTS */
.outline_target{
    opacity: 0
}
.Fennimals_layer {
    display: none
}
.Fennimal_outline {
    transition: all 1s ease;
    display: none;
}
#Fennimals_Mask_Layer{
    transition: all 1s ease
}
#mask_Fennimals {
    opacity: .875;
    transition: all 1s ease;

}
.Fennimal_droptarget {
    display: none;
    stroke-width: 8px;
    stroke-dasharray: 50;
}
.feedback_symbol {
    display: none;
    opacity: 0.7
}
.feedback_heart_small {
    fill: pink;
    transition: all 3.5s
}
.feedback_bites_small {
    fill: darkred;
    transition: all 3.5s
}
.feedback_smiley_small {
    transition: all 3.5s;
    fill:darkgreen;
    stroke:darkgreen;
}
.feedback_frown_small {
    transition: all 3.5s
}
.feedback_neutral_small {
    transition: all 3.5s
}
.quiz_results_element{
    display: none;
}
.objective_achieved_star {
    fill: gold;
    transition: all 3.5s ease-out;
}
.objective_achieved_text tspan{
    fill: gold;
    stroke: goldenrod;
    transition: all 1s ease-in-out;
}
.item {
    display: none
}
.item_icon {
    display: none;
    cursor: pointer;
}
#item_bar {
    display: none;
}
#item_bar_circular {
    display: none
}
.Fennimal_droptarget {
    stroke-dasharray: 50;
    animation: dashstroke_action 7s linear infinite;
}
@keyframes dashstroke_action {
    0% {
        stroke-dashoffset: 0;
        stroke: blue;
    }
    25% {
        stroke: red;
    }
    50% {
        stroke-dashoffset: 800;
        stroke: blue;
    }
    51% {
    }
    100% {
    }
}


/* TOP-LEVEL MASK */
#Mask_Layer {
    display: none
}
.moving_jeep_inbound {
    animation: moving_jeep_inbound 1.25s ease-in ;
}
@keyframes moving_jeep_inbound {
    100% {transform: translate(-130%, 0%);}
}
.moving_jeep_outbound {
    animation: moving_jeep_outbound 1.25s ease-in ;
}
@keyframes moving_jeep_outbound {
    100% {transform: translate(130%, 0%);}
}


/* GENERAL OBJECTS */
.ingame_button {
    cursor: pointer;
}
.ingame_button rect {
    animation: highlighted_arrow 3s ease-in-out infinite alternate-reverse;

    stroke-width: 3px;
}
.ingame_button text {
    text-anchor: middle;
    dominant-baseline: middle;
    font-size: 16px;
    font-weight: bold;

}

.instruction_title {
    text-anchor: middle;
    dominant-baseline: middle;
    font-size: 20px;
    font-weight: bold;
    fill: black;
}
.instruction_background {
    fill: white;
    opacity: 0.2;
}
.basic_instructions_text {
    font-size: 9.5px;

}
.basic_instructions_text p {
    padding-left: 1%;
    padding-top: 1%;
    line-height: 1.1;
    margin: 0;
}
.score_star {
    fill: lightgray;
    stroke: #BBBBBB;
    stroke-width: 3px;
    transition: all 1s ease-in-out;
}
.score_star_achieved {
    fill:gold;
    stroke: goldenrod;
    transition: all 1s ease-in-out;
    animation: score_star_achieved_animation 750ms ease-in-out alternate-reverse infinite;
}
.bonus_star_achieved {
    fill:lightskyblue;
    stroke: darkslateblue;
    transition: all 1s ease-in-out;
    animation: bonus_star_achieved_animation 750ms ease-in-out alternate-reverse infinite;
}
.score_star_smile {
    fill:forestgreen;
    stroke: darkgreen;
    transition: all 1s ease-in-out;
    animation: score_star_smile_animation 750ms ease-in-out alternate-reverse infinite;
}
.score_star_heart {
    fill:dodgerblue;
    stroke: darkblue;
    transition: all 1s ease-in-out;
    animation: score_star_heart_animation 400ms ease-in-out alternate-reverse infinite;
}
.score_star_frown {
    fill:orange;
    stroke: darkred;
    transition: all 1s ease-in-out;
}
.score_star_bite {
    fill:darkred;
    stroke: darkred;
    transition: all 1s ease-in-out;
}
.score_star_neutral {
    fill:white;
    stroke: gray;
    transition: all 1s ease-in-out;

}

@keyframes score_star_achieved_animation {
    from {fill:  gold; stroke: goldenrod; }
    to { fill: #fcdd95; stroke: #f2c55a }
}
@keyframes bonus_star_achieved_animation {
    from {fill:  lightskyblue; stroke: darkslateblue; }
    to { fill: #e7f5fe; stroke: #b5b1d0 }
}
@keyframes score_star_smile_animation {
    from { stroke: darkgreen; }
    to {  stroke: goldenrod }
}
@keyframes score_star_heart_animation {
    from { stroke: darkblue; }
    to {  stroke: goldenrod }
}


#feedback_smiley {
    display: none
}


.hidden_element {
    display: none;
}
#open_backpack_icon {
    display: none
}
#open_backpack_icon_center  {
    cursor: pointer

}
#open_backpack_icon_circle {
    stroke-width: 5px;
    animation: highlighted_arrow 2s ease-in-out infinite alternate-reverse;
}
#open_backpack_icon .open_backpack_icon_text {
    animation: highlighted_arrow 2s ease-in-out infinite alternate-reverse;
}
#open_backpack_icon_icon {
    animation: black_and_white_text 2s ease-in-out infinite alternate-reverse;
}
#click_here_button:hover text {
    fill:white
}

/* Category phase */


@keyframes category_box_error_blinking {

    0% {
        border: gold;
        fill: gold;
    }
    50% {border: firebrick;
        fill: firebrick;}

}

#category_timer_bar {
    stroke-width: 0
}

/* Timed trial animations for the bars */
@keyframes category_countdown_timer {
    0% {width: 100%; fill:gray}
    85% {width: 0; fill:gold}
    85.5% {width: 100%}
    86% {fill:darkred}
    90%{ fill:gold}
    94%{ fill:darkred}
    98%{ fill:gold}
}
@keyframes timed_Fennimal_trial_countdown_timer_vertical {
    0% {height: 100%; fill:gray}
    85% {height: 0; fill:gold}
    85.5% {height: 100%}
    86% {fill:darkred}
    90%{ fill:gold}
    94%{ fill:darkred}
    98%{ fill:gold}
}

/* Animations for the timed trial example page */
.instructions_timed_trial_example_bar {
    transform-origin: center;
    transform: rotate(180deg) translate(-60.9%, -35.5%) ;
    fill: gray;
    animation: timed_Fennimal_trial_countdown_timer_vertical_example 5500ms linear infinite;

}
#instructions_timed_trial_example_bar_timeup {
    opacity: 0;
    animation: timed_Fennimal_trial_countdown_timer_vertical_example_text 5500ms linear infinite;

}

@keyframes timed_Fennimal_trial_countdown_timer_vertical_example {
    0% {height: 77.5px; fill:gray; opacity: 1}
    45% {height: 0; fill:gold}
    45.5% {height: 77.5px}
    46% {fill:darkred}
    50%{ fill:gold}
    54%{ fill:darkred}
    58%{ fill:gold}
    60%{display: none; opacity: 1}
    61%{fill:red}
    65%{fill:red; opacity: 0}
    99%{fill:gray; opacity: 0}
}
@keyframes timed_Fennimal_trial_countdown_timer_vertical_example_text {
    61%{opacity: 0}
    70%{opacity: 1}
    99%{opacity: 1}
    99.5%{opacity: 0}
}

/* CARD QUIZ */
select {
    width: 100%;
    height: 100%;
    pointer-events: auto;
    font-size: 13px;
    resize: none;
    border: 1px solid black;
    border-radius: 5px;
    font-family:  "Myriad Pro", "Gill Sans",  "Archivo Narrow", "PT Sans Narrow","Arial Narrow","Calibri", "Arial","sans-serif";
    padding-left: 10px;
}
select option {
    font-size: 28px;

}

/* Questionnaire */
.open_question_area {
    width: 95%;
    height: 95%;
    pointer-events: auto;
    font-size: 13px;
    resize: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
    font-family:  "Myriad Pro", "Gill Sans",  "Archivo Narrow", "PT Sans Narrow","Arial Narrow","Calibri", "Arial","sans-serif";
}
.recall_input_answerbox_start {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background: #CCCCCC33;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recall_input_answerbox_active {
    width: 100%;
    height: 100%;
    pointer-events: auto;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background: #CCCCCC33;
}
.recall_input_box_placeholder {
    font-family:  "Myriad Pro", "Gill Sans",  "Archivo Narrow", "PT Sans Narrow","Arial Narrow","Calibri", "Arial","sans-serif";
    font-size: 15px;
    color: gray;
    font-style: italic;
}
.recall_input_line {
    width: 85%;
    height: 65%;
    pointer-events: auto;
    font-size: 13px;
    resize: none;
    font-family:  "Myriad Pro", "Gill Sans",  "Archivo Narrow", "PT Sans Narrow","Arial Narrow","Calibri", "Arial","sans-serif";
}
.recall_input_answer_div {
    height: 20px;
    background: #FFFFFF55;
    border: 1px solid #CCCCCC99;
    margin: 2px;
    padding-left: 1px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-top: 1px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.recall_input_answer_text {
    font-size: 13px;
    font-family:  "Myriad Pro", "Gill Sans",  "Archivo Narrow", "PT Sans Narrow","Arial Narrow","Calibri", "Arial","sans-serif";
    padding: 0;
    margin: 0;
    margin-left: 3px
}
.recall_input_answer_remove {
    padding-left: 3px;
    color: firebrick;
    cursor: pointer;

}

/* ITEM ANIMATIONS */
.item_evaluation {
    animation: shake_evaluated_item 200ms ease-in-out infinite;

}
@keyframes shake_evaluated_item {
    0% {transform: translate(0,0)}
    25% {transform: translate(0,5px)}
    75% {transform: translate(0,-5px)}
    100% {transform: translate(0,0)}
}
.item_feedback_play * {
    animation: item_outline_selected_smile 2000ms ease-in-out infinite;
}
.item_feedback_correct *{
    stroke: darkgreen;
}
.item_feedback_incorrect * {
    stroke: darkred;
}
@keyframes item_outline_selected_smile {
    0% {stroke: lightgreen}
    50% {stroke:green}
    100% {stroke:lightgreen}
}

.disliked_translation_item{
    animation: item_animation_dislike 2s linear;
    animation-fill-mode: forwards;
}
.disliked_translation_item * { stroke: darkred;}

.neutral_rotation_item {
    transform-origin: left;
    animation: shake_question 5s linear infinite;
}

.unknown_feedback_item {
    animation: dissappear_unknown_feedback_item 1s linear;
    animation-fill-mode: forwards;
}
@keyframes dissappear_unknown_feedback_item {
    0% {opacity: 1}
    100%{opacity: 0}
}

.thumbs_up_rotation {
    transform-origin: left;
    animation: thumbs_up_animation_rotation 2s ease-in-out infinite;
    animation-delay: 1s;
}
.thumbs_down_rotation{
    transform-origin: center;
    animation: thumbs_down_animation_rotation 2s ease-in-out infinite;
    animation-delay: 1s;
}
.pulse_heart{
    transform-origin: 100px 100px;
    animation: heart_pulse 1s ease-in-out infinite
}
.shake_question_mark {
    transform-origin: center;
    animation: shake_question 3s linear infinite;
}
.question_mark_appear {
    animation: appear_question_mark 1.5s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1.25s;
    opacity: 0;
}
@keyframes appear_question_mark {
    0% {opacity: 0}
    100%{opacity: 1}
}

/* Specific items */
.translation_car {
    animation: item_animation_translation_car 10s linear infinite;
}
.translation_ball {
    animation: item_animation_translation_ball 3s linear infinite;
}
.translation_kite {
    animation: item_animation_translation_kite 10s linear infinite;
}
.rotation_kite {
    animation: item_animation_rotation_kite 10s linear infinite;
}
.translation_duck {
    animation: item_animation_translation_duck 5s linear infinite;
}
.rotation_duck {
    animation: item_animation_rotation_duck 5s linear infinite;
}
.rotation_trumpet {
    transform-origin: 90px 10px;
    animation: item_animation_rotation_trumpet 5s linear infinite;
}
.translation_trumpet {
    animation: item_animation_translation_trumpet 5s linear infinite;
}

@keyframes item_animation_dislike {
    0% {transform: translate(0,0)}
    10% {transform: translate(30px,-20px)}
    20% {transform: translate(50px,60px)}
    30% {transform: translate(70px,80px)}
    35% {transform: translate(75px,65px)}
    40% {transform: translate(80px,80px)}
    43% {transform: translate(82px,70px)}
    46% {transform: translate(84px,80px)}
    100% {transform: translate(84px,80px)}

}

@keyframes item_animation_translation_car {
    0% {transform: translate(0,0)}
    5% {transform: translate(0px,50px)}
    10% {transform: translate(-125px,50px)}

    15% {transform: translate(90px,50px)}
    18% {transform: translate(0px,50px)}
    24% {transform: translate(0px,50px)}
    30% {transform: translate(-80px,50px)}

    35% {transform: translate(80px,50px)}
    40% {transform: translate(-110px,50px)}

    44% {transform: translate(60px,50px)}
    55% {transform: translate(-125px,50px)}

    60% {transform: translate(80px,50px)}
    70% {transform: translate(-125px,50px)}

    75% {transform: translate(80px,50px)}
    85% {transform: translate(-80px,50px)}

    90% {transform: translate(75px,50px)}
    95% {transform: translate(0px,50px)}
}
@keyframes item_animation_translation_ball {
    0% {transform: translate(0,0)}
    10% {transform: translate(0,-25px)}
    15% {transform: translate(0,-30px)}
    20% {transform: translate(0,-25px)}
    25% {transform: translate(0,0px)}
    30% {transform: translate(0,50px)}
    35% {transform: translate(0,5px)}
    45% {transform: translate(0,-10px)}
    50% {transform: translate(0,-15px)}
    55% {transform: translate(0,-10px)}
    60% {transform: translate(0,0px)}
    65% {transform: translate(0,50px)}
    70% {transform: translate(0,10px)}
    75% {transform: translate(0,-5px)}
    80% {transform: translate(0,10px)}
    85% {transform: translate(0,50px)}
    90% {transform: translate(0,20px)}
    95% {transform: translate(0,10px)}
    99% {transform: translate(0,0px)}

}
@keyframes item_animation_translation_kite{
    0% {transform: translate(0,0)}
    10% {transform: translate(130px,-70px)}
    20% {transform: translate(100px,-60px)}
    30% {transform: translate(140px,-80px)}
    40% {transform: translate(120px,-70px)}
    50% {transform: translate(50px,-50px)}

}
@keyframes item_animation_rotation_kite {
    0% {transform: rotate(0)}
    10% {transform: rotate(30deg)}
    20% {transform: rotate(-10deg)}
    30% {transform: rotate(10deg)}
    40% {transform: rotate(-10deg)}
    50% {transform: rotate(-20deg)}


}
@keyframes item_animation_translation_duck{
    0% {transform: translate(0,0)}
    10% {transform: translate(0,10px)}
    20% {transform: translate(0,0px)}
    30% {transform: translate(0,-10px)}
    40% {transform: translate(0,0px)}

}
@keyframes item_animation_rotation_duck{
    0% {transform: rotate(0)}
    10% {transform: rotate(-20deg)}
    30% {transform: rotate(20deg)}
    40% {transform: rotate(0)}
    50% {transform: scale(1.2,0.6)}
    60% {transform: scale(1,1)}
    70% {transform: scale(1.3,0.4)}
    80% {transform: scale(1,1)}
    90% {transform: scale(1.2,0.6)}
    99% {transform: scale(1,1)}

}
@keyframes item_animation_translation_trumpet {
    0% {transform: translate(0,0)}
    20% {transform: translate(-60px,0px)}
    80% {transform: translate(-60px,0px)}
    90% {transform: translate(0,0)}

}
@keyframes item_animation_rotation_trumpet{
    0% {transform: rotate(0)}
    22% {transform: rotate(00deg)}
    24% {transform: rotate(60deg)}
    30% {transform: rotate(20deg)}
    33% {transform: rotate(0deg)}
    34% {transform: rotate(50deg)}
    36% {transform: rotate(70deg)}
    62% {transform: rotate(-30deg)}
    70% {transform: rotate(-30deg)}

    90% {transform: rotate(0deg)}
}

@keyframes thumbs_up_animation_rotation  {
    0% {transform: rotate(0)}
    50% {transform: rotate(20deg)}
    100% {transform: rotate(0)}

}
@keyframes thumbs_down_animation_rotation  {
    0% {transform: rotate(0)}
    50% {transform: rotate(-20deg)}
    100% {transform: rotate(0)}
}
@keyframes heart_pulse {
    0% {transform: scale(1,1)}
    50% {transform: scale(.9,.9)}
    100% {transform: scale(1,1)}
}
@keyframes shake_question {
    0% {transform: rotate(0)}
    3% {transform: rotate(-20deg)}
    6% {transform: rotate(0deg)}
    9% {transform: rotate(20deg)}
    12% {transform: rotate(0deg)}
    100% {transform: rotate(0)}

}


#Fennimal_Container_Vivid * {
    animation: vivid_Fennimal_shimmer 5s linear infinite;
}
@keyframes vivid_Fennimal_shimmer {
    0% {stroke: black}
    50% { stroke: darkgray}
    100% {stroke: black}
}